<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Ana Beatriz</title>
</head>

<body>

<i class="bi bi-list menu-mobile"></i>

  <aside id='header'>
    <section class="profile">

        <img src="../static/img/perfil.jpg" alt="Foto da Ana"> 

        <h1>Ana Beatriz</h1>
            <div class="social-links mt-4 text-center">

            <a target="_blank" href="https://www.linkedin.com/in/ana-beatriz-7a6361219/overlay/contact-info/">
            <i class="bi bi-linkedin"></i>

            </a>
            <a target="_blank" href="https://github.com/anabeatrizdev">
            <i class="bi bi-github"></i>

                </a> 
            </div>

        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>
                        Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Ana Beatriz</h2>
                <span id="subtitle" class="text-white text-shadow">💻 Acadêmica de Análise e Desenvolvimento de Sistemas | Técnica em Redes | Suporte Técnico</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>

            </div>

        </section>

        <section class="container mt-5" id='sobre'>

        <div class="row w-100"> <div class="col-md-12" data-anime="down">
         <h2 class='pt-3'>Sobre</h2>
         <p>

            Sou Ana Beatriz, atuo com suporte técnico e sou acadêmica de Análise e Desenvolvimento de Sistemas. Atualmente, estou me dedicando a aprender mais sobre lógica de programação e desenvolvimento web.
        No meu dia a dia, venho praticando com Python e Flask, além de estudar HTML, CSS e JavaScript. Aos poucos, pretendo expandir meus conhecimentos para outras linguagens, como PHP, conforme eu for evoluindo.
       Tenho muito interesse em entender o funcionamento do front-end e back-end, e este portfólio é um grande passo para aplicar o que venho aprendendo na prática.
       Acredito que a programação pode ser mais simples do que parece, e tenho vontade de mostrar isso para outras pessoas. 
       Quero, futuramente, ensinar e incentivar iniciantes, mostrando que é possível aprender e crescer mesmo começando do zero. 

</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Foto do Thiago" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Acadêmica de ADS | Suporte Técnico | Iniciante em Desenvolvimento Web</h3>
                    
<p>Atualmente, curso Análise e Desenvolvimento de Sistemas e atuo com suporte técnico, trabalhando com manutenção de computadores, impressoras e rede.
Também estou dando meus primeiros passos no desenvolvimento web, aprendendo HTML, CSS, JavaScript, Python e Flask. 
Quero dominar tanto o front-end quanto o back-end, e estou montando meu portfólio com muito cuidado, dedicação e prática real!</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">03 de Novembro de
                                        2001</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">23 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Porto Velho
                                </span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Rondônia</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Vôlei e criação de conteúdo</span></li>
                                <li class="list-group-item">Site: <a href="" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark"></a></li>
                                <li class="list-group-item">Trabalho: <a href=""
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">Jovem Aprendiz - Suporte Técnico em TI</a></li>
                                <li class="list-group-item">Experiência: <span class="fw-lighter">  Iniciando na área de tecnologia com foco em desenvolvimento web
                                </span></li>

                            </ul>
                        </div>
                    </div>

                    <p>
                </div>
            </div>
        </section>

    <section class="mt-5 section-bg " id="habilidades">

            <div class="container pb-5">
                <h2 class='pt-5'>Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas,
                    a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                    uma delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="95"
                                data-anime="left" aria-valuemin="0" aria-valuemax="100">35%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 25%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">30%</div>
                   
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 25%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">25%</div>
                       
                        </div>
                    </div>
                  
                    
                
                    
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 20%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">20%</div>
                    
                    </div>
                </div>

                <hr class='w-50 me-auto ms-auto'>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>

                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>

                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        
        
        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                    

                        <div class='cv-item' data-anime="up">
                            <h4>ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</h4>
                            <h5>2025 - 2027</h5>
                            <p><em>Faculdade UNINTER</em></p>
                            
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Técnico em Rede de Computadores</h4>
                            <h5>2024 - 2025</h5>
                            <p><em>SENAI</em></p>
                            <p>Formação técnica voltada para a instalação, configuração e manutenção de redes de computadores.
                               O curso abrange conhecimentos em cabeamento estruturado, protocolos de comunicação, segurança da informação, roteamento, 
                               redes sem fio e suporte técnico, capacitando o profissional para atuar na infraestrutura de TI de empresas de diversos segmentos.</p>
                        </div>

                          <div class='cv-item' data-anime="up">
                            <h4>Técnico em Manutenção e Suporte em Informática</h4>
                            <h5>2025 - 2027</h5>
                            <p><em>IFRO</em></p>
                            <p>Curso voltado à instalação, configuração e manutenção de computadores, redes e periféricos, bem como ao atendimento e suporte técnico a usuários. 
                                A formação inclui fundamentos de hardware, sistemas operacionais, redes locais, 
                                segurança da informação e noções de programação, capacitando o aluno para atuar em ambientes corporativos de tecnologia.</p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class='cv-item' data-anime="up">
                             <h4>Técnico de Suporte em TI – Jovem Aprendiz</h4>
                             <h5>Agosto de 2024 - Atual</h5>
                             <p><em>Alphaclin Excelência em Diagnósticos · Porto Velho, RO · Presencial</em></p>
                             <p>Atuo com manutenção corretiva de computadores e formatação de sistemas operacionais. 
                                Realizo instalação, compartilhamento e configuração de impressoras em rede (Wi-Fi e USB). 
                                Também monitoro temperatura e desempenho do servidor, além de prestar suporte técnico básico aos colaboradores, 
                                esclarecendo dúvidas sobre o uso de equipamentos, sistemas e rede.</p>
                             </div>

                     
                    </div>
                </div>
            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                     
                       
            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class='pt-3 pb-3'>Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Porto Velho, RO</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>anabeatrizdasilvacorrea100@gmail.com</p>
                            </div>

                            <iframe src=""
                            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class='w-100'></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </section>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy;Copyright © 2025 <strong>Ana Beatriz</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>